// Variables
$fontInconsolota: 'Inconsolata', sans-serif;
$fontSpaceMono: 'Space Mono', sans-serif;
$fontMontserrat: 'Montserrat', sans-serif;
$grayColor1: #333333;
$grayColor2: #4F4F4F;
$grayBackgroundColor1: #333333;
